---
layout: default
---
<div class="post">

    <div class="page-navigation clearfix">
        {% if page.previous.url %}
            <div class="prev-post">
                <a href="{{page.previous.url}}" title="Previous Post:
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
            </div>
        {% endif %}

        {% if page.next.url %}
            <div class="next-post">
                <a href="{{page.next.url}}" title="next Post:
{{page.next.title}}">{{page.next.title}} &raquo; </a>
            </div>
        {% endif %}
    </div>

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
